<div class="wrapper-normal">
    <div class="header-home">
        <div>
            <img class="selfie" alt="Titus" src="{{ site.url }}/images/bio_photo.png">
        </div>
        <!--<div class="social-links">
            <a class="social" href="mailto:tituchio@gmail.com">
                <i class="fa fa-envelope">
                </i>
            </a>
            <a class="social" href="http://linkedin.com/in/titusid">
                <i class="fa fa-linkedin">
                </i>
            </a> 
        </div>-->
        <p class="description">Java | Web | Dev</p>

    </div>

</div>